.crop-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crop-container {
    position: relative;
    width: 65%;
    height: 55%;
    background: black;
    border-radius: 8px;
    overflow: hidden;
}

.crop-actions button:hover {
    background: #0056b3;
}
.crop-actions {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    width: 65%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4338ca;
    color: white;
    width: 50%;
    margin-top: 20px;
    font-weight: bold;
}
.crop-actions .cancel{
    color: black;
    background-color: white;
    box-shadow: 1px 2px 2px 0px #737373;
}

