.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(4, 0, 0, 0.2);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-container::-webkit-scrollbar{
    display: none;
}

.image-uploader-container {
    width: 576px;
    top: 4433px;
    left: 70px;
    padding: var(--padding832px) var(--padding624px) var(--padding832px) var(--padding624px);
    gap: var(--gap832px);
    border-radius: 8px;
    opacity: 0px;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top {
    width: 528px;
    height: 56px;
    gap: var(--gap14px);
    opacity: 0px;
    display: flex;
}

.upload h3 {
    width: 528px;
    height: 28px;
    gap: 8px;
    opacity: 0px;
    margin: 0px;
}

.upload p {
    width: 528px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    color: #525252;
    margin: 0px;
}

.pngs {
    margin: 0;
    position: absolute;
    top: 120px;
    color: #525252;
}

.fa-xmark {
    cursor: pointer;
}

.drag-drop-container {
    width: 528px;
    height: 152px;
    padding: var(--padding624px) 0px var(--padding624px) 0px;
    gap: var(--gap520px);
    border-radius: var(--border-radiusrounded4px);
    border: 0.5px solid #E5E5E5;
    opacity: 0px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

.container-p {
    width: 528px;
    height: 52px;
    gap: var(--gap14px);
    opacity: 0px;
    margin: 0px;
}

.container-p1 {
    font-family: Noto Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #171717;
}

.png {
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #525252;
}

.images-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.image-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    height: 84px;
    width: 528px;
}

.image-item .radio {
    display: flex;
    height: 80px;
    justify-content: start;
}

.image-info {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
}

.image-info div p {
    font-size: 14px;
    margin: 5px;
}

.image-info img {
    border-radius: 5px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
}

.image-item div input[type="radio"] {
    margin-right: 10px;
    width: 15px;
    height: 1.5em;
}

.image-info .filename {
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    color: #171717;
}

.image-info .size {
    font-family: Noto Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #525252;
}
.files{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.image-actions {
    width: 199px;
    height: 20px;
    gap: var(--gap28px);
    opacity: 0px;
    color: #525252;
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 5px;
}

.actions {
    width: 52 8px;
    height: 44px;
    gap: var(--gap416px);
    opacity: 0px;
    display: flex;
    gap: 8px;
}

.actions .cancel {
    width: 256px;
    height: 44px;
    padding: var(--padding2-510px) var(--padding416px) var(--padding2-510px) var(--padding416px);
    gap: var(--gap1-56px);
    border-radius: var(--rounded);
    border: 0.5px 0px 0px 0px;
    opacity: 0px;
    background-color: #ffffff;
    color: #171717;
    box-shadow: 1px 1px 1px 1px #E5E5E5;
    margin: 0;
}

.actions .select {
    width: 256px;
    height: 44px;
    padding: var(--padding2-510px) var(--padding416px) var(--padding2-510px) var(--padding416px);
    gap: var(--gap1-56px);
    border-radius: var(--rounded);
    opacity: 0px;
    background-color: #4338CA;
    margin: 0;
}

@media (max-width: 480px) {
    .main-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .image-uploader-container {
        max-width: 320px;
    }

    .upload {
        width: 272px;
        height: 56px;
        gap: var(--gap14px);
        opacity: 0px;

    }
    .pngs{
        width: 272px;
    }

    .upload h3 {
        width: 272px;
        height: 28px;
        gap: 8px;
        opacity: 0px;

    }

    .drag-drop-container {
        width: 272px;
        height: 192px;
        padding: var(--padding624px) 0px var(--padding624px) 0px;
        gap: var(--gap520px);
        border-radius: var(--border-radiusrounded4px);
        border: 1px 0px 0px 0px;
        opacity: 0px;
        padding: 10px;
    }

    .container-p {
        width: 272px;
        height: 80px;
        opacity: 0px;
    }

    .container-p1 {
        margin: 0px;
    }

    .top {
        width: 272px;
        height: 56px;
        gap: var(--gap14px);
        opacity: 0px;
    }

    .image-item {
        width: 300px;
    }

    .image-info img {
        width: 60px;
        height: 60px;
    }

    .files{
        gap: 0px;
    }

    .actions {
        width: 300px;
    }

    .actions .cancel,
    .actions .select {
        height: 30px;
        width: 170px;
    }
}